data/exit polls/combined/
data/census/2008/poststrat_frame_CA.csv
data/census/2012/poststrat_frame_CA.csv
data/census/2016/poststrat_frame_CA.csv
data/census/2020/poststrat_frame_CA.csv
data/census/2024/poststrat_frame_CA.csv